<!DOCTYPE html>
<html>
<head>
    <title>Getting Started</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/landing.css">
    
</head>
<body>
    <header>
        <nav>
            <h3 id="logo">ShinyMusical</h3>
        </nav>
        <div class='hero-container'>
            <video width="100%" height="100%" autoplay loop muted>
                <source src="/videos/video-1.mp4" type="video/mp4" />
            </video>
            <h1><b>Hum Hum It!</b></h1>
            <p>Convert your humming sound into awesome music sheets</p>
            <button onclick="window.location.href = '/start';" class="headline"><b>GET STARTED</b></button>
        </div>
    </header>

    <div class="footer">
        <p style="vertical-align: middle ;">&copy; 2021 Hack and Roll Humming It!</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
    integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
    integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>

    <script src="/landing.js"></script>
</body>
</html>